* {
    box-sizing: border-box;
}

.logo {
    width: 272px;
    height: 92px;
    margin: 100px auto 0 auto;
    background: center no-repeat url(https://www.google.com.hk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
}

.search {
    position: relative;

    max-width: 582px;
    /* 加最大宽度可以使搜索框可缩放 */
    height: 40px;
    /* 高度不会被内容撑开直接定死 */
    margin: 20px auto;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 24px;
}

.iconsearch {
    position: absolute;
    left: 20px;
    top: 8px;
}
.iconmic {
    /* border-left: 1px solid #eee; */
    position: absolute;
    right: 15px;
    top: 5px;
  
}

.search>input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 24px;
    outline: none;/* 外边框去掉 */
    /* margin: 0 25px 0 25px; */
    font-size: 16px;
    padding: 0 45px;
    line-height: 1.5;
    border-right: 1px solid grey;
}
.search:hover {
    box-shadow: 0 0 4px 0px #ccc;
}
.button {
    text-align: center;
}
.button>span {
    display: inline-block;
    background: #eee;
    font-size: 16px;
    margin: 100px 30px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: #202124;
}